.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 25px;
}
.nav-img{
    margin-left: 150px;
}
.info{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 35px;
    font-size: 16px;
     font-family: "Inter", sans-serif;  
}
.nav-pre{
display: flex;
gap:35px;
margin-right:150px;
}
.cart{
    display: flex;
    align-items: center;
      font-size: 16px;
      gap:5px;
       font-family: "Inter", sans-serif;
}
.overview{
    background-color:rgba(227, 231, 241, 0.856);
}
.banner{
    display: flex;
    max-width: 1140px;
    height: 461px;
    margin: 200px auto 100px auto;
    align-items: end;
}

.tx-main{
     font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 65px;
}
.tx-sub{
    font-family:"Inter", sans-serif ;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.p-1{
    display: grid;
    align-items: center;
    justify-content: center;
}
.flower-sp{
    display: grid;
    grid-template-columns: repeat(4,290px);
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.p-1 img {
    width: 100%;
}
.flower{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}
.badge{
    position: relative;
}
.tt{
    position: absolute;
    width:286px;
    height:286px;
    top:-110px;
    right: -95px;
    filter: drop-shadow(-5px 7px 1px rgba(0, 0, 0, 0.3));
    animation: trustrotate 8s ease-in 0s infinite normal;
}
@keyframes trustrotate{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.deals{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.bloom{
   
    width: 367px;
    height: 206px;
     background-repeat:no-repeat;
     border-radius: 14px;
     filter: brightness(70%);
     text-align: center;
}
.ana{
   
    width: 367px;
    height: 197px;
    background-repeat:no-repeat;
     border-radius: 14px;
      filter: brightness(60%);
      text-align: center;
      margin-top: 19px;
      margin-bottom: 10px;
}

.zabo{
    height: 425px;
    width: 753px;
     background-repeat:no-repeat;
      border-radius: 14px;
       filter: brightness(60%);
       text-align: center;
      
}
.bm-tx{
    color: white;
    position: absolute;
    top: 46px;
    left:90px;
   
}
.an-tx{
     color: white;
    position: absolute;
    top: 265px;
     left:90px;
}
.flower-pre{
    position:relative;
}
.zabo-pre{
    position: relative;
}
.zb-tx{
    position: absolute;
    top: 140px;
    left: 185px;
}
.shop-text{
    
    margin-left: 120px;
    font-family:Inter, sans-serif ;
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
    color: white;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join{
    background-image: url(./B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    max-width: 2300px;
    height: 533px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin-bottom: 50px;
}
.tx-colorful{
    text-align: center;
    font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 30px;
     color: white;
     padding-top: 200px;
}
.btn-sub{
    font-size: 16px;
     font-family: Inter, sans-serif ;
      font-weight:400;
       text-align: center;
        color: white;
        background-color: rgba(233, 90, 8, 1);
         padding: 19px 54px;
         border: none;
}
.em{
    height: 50px;
    width:645px;
    font-size: 16px;
     font-family: Inter, sans-serif ;
    padding-left: 25px;  
}
.social{
    display: flex;
    justify-content: space-around;
    align-items:start;
    margin-bottom: 70px;
}
.fb{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 80px;
}
.logo-tx{
    font-size: 22px;
     font-family: Inter, sans-serif ;
     color: rgba(0, 0, 0, 0.5);
     margin-left: 80px;
}
.tx-home{
    font-size: 17px;
     font-family: Inter, sans-serif ;
     color: rgba(0, 0, 0, 0.5);
     list-style-type: none;
     display: grid;
     gap: 20px;
}
.tx-deals{
    text-align: center; 
    font-family: Noto Serif,
     serif;font-weight: bold;
     font-size: 50px;
}
.tx-deals-2{
    text-align: center;
    font-family:Inter, sans-serif ;
     font-size: 22px;color: rgba(0, 0, 0, 0.5);
     margin-bottom: 130px;
}
.esu-tx{
    font-family:Inter,sans-serif;
    color:rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.esu-ni{
    font-size: 50px;
    font-family: Noto Serif, serif;
    font-weight: bold;
}
.tx-plants{
    margin-bottom:0px;
    text-align: center;
    font-size: 50px;
    font-family: Noto Serif, serif;
    font-weight: bold
}
.text-plants-2{
    text-align: center;
    font-family:Inter, sans-serif ;
    color:rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-bottom: 50px;
    margin-top: 5px;
    max-width: 100%;
    
    
}
@media (max-width:576px){
    .cart-vw{
        margin-top: 14px;
    }
    .dt{
        display: none;
    }
    .nav-img{
        margin-left: 10px;
    }
    .nav-pre{
        margin-right: 10px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 10px;
    }
    .esu-ni{
        font-size: 24px; 
        margin-left:-50px; 
        margin-top: -40px;
    }
    .esu-ni br{
        display: none;
    }
    .esu-tx{
        font-size: 14px;
        margin-left: -70px;
    }
    .tx-deals{
      font-size: 24px;  
    }
    .tx-deals-2{
        font-size: 16px;
    }
    .tx-main{
       font-size: 24px;
    }
    .tx-sub{
        font-size: 14px;
        
    }
    .bn-img{
        width:100%;
    }
    .tx-plants{
        font-size: 24px;
    }
    .text-plants-2{
        font-size:14px ;
        text-align: center;
       
        
    }
    
    .flower-sp{
        grid-template-columns: repeat(2,1fr); 
           gap: 10px;
    }
    .p-1{
        width: 100%;
    }
    .flower{
        display: flex;
        flex-direction: column;
    }
    .store{
        width: 100%;
        margin: 10px auto;
    }
.tt{
    display: none;
}
 .deals{
    display: flex;
    flex-direction: column;
 }
.bloom{
    width: 100%;
}
.ana{
    width: 100%;
}
.zabo{
    width: 100%;
    height:206px ;
}
.zabo-text{
    font-size: 20px;
   
}
.zb-tx{
    top: 0px;
    left:90px;
    
}
.shop-text{
    font-size: 16px;
    margin-left: 60px;
    margin-top: -20px;
}
.tx-colorful{
    font-size: 20px;
    padding-top:115px;
}
.em{
height: 49px;
width:218px;
margin-left:10px;
}
.btn-sub{
    height: 55px;
    width: 100px;
    padding: 10px 15px;
}
.join{
    height: 275px;
    width:100%;
    margin-top: -10px;
    
}
.social{
display: flex;
flex-direction: column;
}
.logo-tx{
    margin-left: 20px;
    font-size: 16px;
}
.tx-home{
    margin-left: -16px; 
}
.fb{
  margin-left: 22px;  
}
.eas{
    display: none;
}
}

@media (min-width: 577px) {
        .mobile-break {
            display: none;}

        }


@media (min-width:577px) and (max-width:992px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .nav-img{
        margin-left: 10px;
    }
    .info{
  margin-left: 140px;
    }
    .flower-sp{
        grid-template-columns:repeat(3,1fr);
        margin-left: 20px;
     }
    .bn-img{
        width:100%;}

.bloom{
    width: 100%;
}
.ana{
    width: 100%;
}
.zabo{
    width: 100%;
    height:206px;
}

.flower{
    display: flex;
    flex-direction: column;
}

.zabo-text{
    font-size: 20px;
}
.zb-tx{
    top: 0px;
    left:90px
}
.shop-text{
    font-size: 16px;
    margin-left: 60px;
    margin-top: -20px;
}
}
