.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 25px;
}
.nav-img{
    margin-left: 150px;
}
.info{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 35px;
    font-size: 16px;
     font-family: "Inter", sans-serif;  
}
.nav-pre{
display: flex;
gap:35px;
margin-right:150px;
}
.cart{
    display: flex;
    align-items: center;
      font-size: 16px;
      gap:5px;
       font-family: "Inter", sans-serif;
}
.overview{
    background-color:rgba(227, 231, 241, 0.856);
}
.banner{
    display: flex;
    max-width: 1140px;
    height: 461px;
    margin: 200px auto 100px auto;
    align-items: end;
}

.tx-main{
     font-family: "Noto Serif", serif;
     font-weight: bold;
     font-size: 65px;
}
.tx-sub{
    font-family:"Inter", sans-serif ;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.p-1{
    display: grid;
    align-items: center;
    justify-content: center;
}
.flower-sp{
    display: grid;
    grid-template-columns: repeat(4,290px);
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.p-1 img {
    width: 100%;
}











@media (max-width:576px){

    .dt{
        display: none;
    }
    .nav-img{
        margin-left: 10px;
    }
    .nav-pre{
        margin-right: 10px;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
    
    .tx-main{
       font-size: 24px;
    }
    .tx-sub{
        font-size: 14px;
    }
    .bn-img{
        width:100%;
    }
    .flower-sp{
        grid-template-columns: repeat(2,1fr); 
           gap: 10px;
    }
    .p-1{
        width: 100%;
    }
    
  
}
@media (min-width:577px) and (max-width:992px){
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .nav-img{
        margin-left: 10px;
    }
    .info{
  margin-left: 140px;
    }
    .flower-sp{
        grid-template-columns:repeat(3,1fr);
        margin-left: 20px;
     }
    .bn-img{
        width:100%;
    }
}
